{{!-- Burger Picture --}}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img src="./assets/images/burger.png" alt="burger" class="burger_image">
      </div>
    </div>
  </div>
</div>

<center><h1>{{title}}</h1></center>

<hr>
{{!-- Uneaten Burgers list --}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <center><h2>Uneaten Burgers</h2></center>
      <hr>
      {{#each burgers}}
      {{#unless devoured}}
      <div class="uneaten">
        <h5>{{burger_name}}</h5>
          <form action="/api/burger/{{id}}/{{#if devoured}}0{{else}}1{{/if}}" method="get">
              <button type="submit" value="Submit">Eat!</button>
          </form>
      </div>

      {{/unless}}
      {{/each}}
  
    </div>

{{!-- Eaten Burgers list --}}
    <div class="col-6">
      <center><h2>Devoured Burgers</h2></center>
      <hr>
     {{#each burgers}}

      {{#if devoured}}
        <center><h5>{{burger_name}}</h5></center>

      {{/if}}

      {{/each}}
  </div>
</div>

<center><p>Type in a burger and add it to the list!</p></center>

<center><form action="/api/burger" method="post">
    <input type="text" name="burger_name" id=""><br>
    <input type="submit" value="Submit">
</form></center>

</div>

<hr>
