<h1>{{title}}</h1>

<hr>

<h2>Available Burgers</h2>
{{#each burgers}}
{{#unless devoured}}
<div>
    {{extra}}
    <h5>{{burger_name}}</h5>
    <form action="/api/burger/{{id}}/{{#if devoured}}0{{else}}1{{/if}}" method="get">
        <input type="submit" value="{{#if devoured}}Order More{{else}}Eat!{{/if}}">
    </form>
</div>
{{/unless}}
{{/each}}

<hr>

<h2>Eaten Burgers</h2>
{{#each burgers}}

{{#if devoured}}
{{/if}}

{{/each}}

<hr>

<form action="/api/burger" method="post">
    <input type="text" name="burger_name" id=""><br>
    <input type="submit" value="Create">
</form>

<hr>
